/ locals :widget
.b_widget widget here
.widget(id = widget.ajax_id)
  .waiting loading...
javascript:
  document.addEventListener("DOMContentLoaded", function() {
    var r = new XMLHttpRequest(); 
    r.open("GET", "#{widget.ajax_url}", true);
    r.onreadystatechange = function () {
      if (r.readyState != 4 || r.status != 200) {
        console.log("Failed to fetch #{widget.class.name} widget via ajax");
        return; 
      }
    	var element = document.getElementById('#{widget.ajax_id}');
      if (element) {
        element.innerHTML = r.responseText;
      }
    };
    r.send();
  });
