/ locals: id
.clock id=id

javascript:
  
  document.addEventListener("DOMContentLoaded", function() {
    console.log("dom loaded - start the clock for #{id}'");
    clock = new Balderdash.Clock('#{id}');
    clock.start();
  });
